<%= form_for(@slot) do |f| %>
  <% if @slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@slot.errors.count, "error") %> prohibited this slot from being saved:</h2>

      <ul>
      <% @slot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field(:semester_id, :value => @semester.id) %>
  <div class="flexcontainer middlepadding">
    <div class="flex3" id="choose_or_new_show_div">
      <%= f.label :show %>
      <%= f.select( :show, options_for_select([[],['NEW SHOW','new']] + Show.for_select), {}, {class: "chzn-select"} ) %>
    </div>
    <div class="flex2">
      <%= f.label :weekday %><br />
      <%= f.select( :weekday, options_for_select((0..6).map {|i| [Weekdays[i],i] }), {}, {class: "chzn-select"} ) %>
    </div>
    <div class="flex1">
      <%= f.label :start %><br />
      <%= f.time_field :start %>
    </div>
    <div class="flex1">
      <%= f.label :end %><br />
      <%= f.time_field :end %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
