<%= form_for(@pledger) do |f| %>
  <% if @pledger.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pledger.errors.count, "error") %> prohibited this pledger from being saved:</h2>

      <ul>
      <% @pledger.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% if user_is_dd? %>
      <%= f.label :underwriting, "Underwriter" %><%= f.check_box :underwriting, checked: "" %><br />
    <% end %>
    <%= instructions_for_operators{"1) Can I get the EXACT spelling of your first and last name?"} %>
    <%= f.label :name %><%= f.text_field :name, autofocus: "autofocus"%>
    <%= instructions_for_operators{"2) What is your email address?"} %>
    <%= f.label :email %><%= f.email_field :email %>
    <%= instructions_for_operators{"3) What is your relationship to WCBN?"} %>
    <%= f.label :affiliation %>
      <%= f.radio_button(:affiliation, "Staff") %>
      <%= label_tag(:affiliation_staff, "WCBN Staff", :class => "greytext") %>
      <%= f.radio_button(:affiliation, "Alumni") %>
      <%= label_tag(:affiliation_alumni, "WCBN Alumni", :class => "greytext") %>
      <%= f.radio_button(:affiliation, "Family") %>
      <%= label_tag(:affiliation_alumni, "Family", :class => "greytext") %>
      <%= f.radio_button(:affiliation, "Public") %>
      <%= label_tag(:affiliation_public, "Public", :class => "greytext") %>
      <div class="flexcontainer middlepadding">
        <fieldset class="flex1">
          <%= instructions_for_operators{"4) What's your phone number?"} %>
          <%= f.label :perm_phone, "Phone Number" %><%= f.telephone_field :perm_phone, :class => "phonemasked" %>
          <%= instructions_for_operators{"5) And your permanent mailing address?"} %>
          <%= f.label :perm_address, "Permanent Street Address" %><%= f.text_field :perm_address %>
          <%= f.text_field :perm_address2 %>
          <label>USA? </label><input type="checkbox" id="permUSA" checked=""> 
          <div id="permCSZDiv" class="flexcontainer">
            <div class="flex2">
              <%= f.label :perm_zip, "Zip" %><%= f.text_field :perm_zip, :maxlength => "5", class: 'zip-lookup-field-zipcode' %>
            </div>
            <div class="flex3" id="permCity">
              <%= f.label :perm_city, "City" %>
              <%= f.text_field :perm_city, class: 'zip-lookup-field-city' %>
            </div>
            <div class="flex1" id="permState">
              <%= f.label :perm_state, "State" %>
              <%= f.text_field :perm_state, class: 'zip-lookup-field-state-short' %>
            </div>
            <%= f.hidden_field(:perm_country, value: "USA") %>
          </div>
        </fieldset>
        <fieldset class="flex1">
          <%= instructions_for_operators{"6) Do you have different local information?"} %>
          <%= f.label :local_phone, "Alternate Phone Number" %><%= f.telephone_field :local_phone, :class => "phonemasked" %>
          <%= f.label :local_address, "Local Street Address" %><%= f.text_field :local_address %><%= f.text_field :local_address2 %>
          <label>&nbsp;</label>
          <div id="localCSZDiv" class="flexcontainer">
            <div class="flex2">
              <%= f.label :local_zip, "Zip" %><%= f.text_field :local_zip, :maxlength => "5", class: 'zip-lookup-field-zipcode' %>
            </div>
            <div class="flex3" id="localCity">
              <%= f.label :local_city, "City" %>
              <%= f.text_field :local_city, class: 'zip-lookup-field-city' %>
            </div>
            <div class="flex1" id="localState">
              <%= f.label :local_state, "State" %>
              <%= f.text_field :local_state, class: 'zip-lookup-field-state-short' %>
            </div>
          </div>
        </fieldset>
      </div>
    <div style="margin-top:10px; text-align:center;"></div>
  <div class="actions">
    <%= f.submit %>
    <%= button_tag "Cancel", :type => "button", :id => "pledgerFormCancelButton", onmousedown: '$(".zip-lookup-field-zipcode").blur()' %>
  </div>
    </div>
<% end %>
