<p id="notice"><%= notice %></p>

<p>
  <b>Individual:</b>
  <%= @pledger.individual %>
</p>

<p>
  <b>Name</b>
  <%= @pledger.name %>
</p>

<p>
  <b>Email:</b>
  <%= @pledger.email %>
</p>

<p>
  <b>Affiliation:</b>
  <%= @pledger.affiliation %>
</p>

<p>
  <b>Local phone:</b>
  <%= @pledger.local_phone %>
</p>

<p>
  <b>Local address:</b>
  <%= @pledger.local_address %>
</p>

<p>
  <b>Local address2:</b>
  <%= @pledger.local_address2 %>
</p>

<p>
  <b>Local city:</b>
  <%= @pledger.local_city %>
</p>

<p>
  <b>Local state:</b>
  <%= @pledger.local_state %>
</p>

<p>
  <b>Local zip:</b>
  <%= @pledger.local_zip %>
</p>

<p>
  <b>Perm phone:</b>
  <%= @pledger.perm_phone %>
</p>

<p>
  <b>Perm address:</b>
  <%= @pledger.perm_address %>
</p>

<p>
  <b>Perm address2:</b>
  <%= @pledger.perm_address2 %>
</p>

<p>
  <b>Perm city:</b>
  <%= @pledger.perm_city %>
</p>

<p>
  <b>Perm state:</b>
  <%= @pledger.perm_state %>
</p>

<p>
  <b>Perm zip:</b>
  <%= @pledger.perm_zip %>
</p>

<p>
  <b>Perm country:</b>
  <%= @pledger.perm_country %>
</p>


<%= link_to 'Edit', edit_pledger_path(@pledger) %> |
<%= link_to 'Back', pledgers_path %>
