<% title "Shipments" %>
<section class="home flexcontainer">
  <% @rewards.each do |is_qualified, sizes| %>
    <div class="flex1">
      <h3><%= is_qualified %></h3>
      <% sizes.sort_by{ |a| a.keys * "" }.each do |size_set| %>
        <% size_set.each do |size, reward_set| %>
          <div class="reward-table">
            <h4 class="reward-table-header"><%= size * ", " %></h4>
            <%= link_to "Generate Packing Slip", :controller => 'rewards', :action => "packing_slips", :format => :pdf, :pledgers => reward_set.map{|a,x| a}.join(',') %>

            <table>
              <% dark = true %>
              <% reward_set.sort_by { |a,b| b[0].pledger.name.upcase }.each do |pledger, rewards| %>
                <% rewards.each do |reward| %>
                  <tr<%= " class='darkrow'".html_safe if dark %>>
                    <td><%= link_to(reward.pledger.name, reward.pledger) if pledger != 0 %></td>
                    <td><%= reward.item.name %></td>
                    <td class="reward-comment"><%= reward.comment %></td>
                  </tr>
                  <% pledger = 0 %>
                <% end %>
                <% dark = !dark %>
              <% end %>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
