<% title "Shipments" %>
<section class="home flexcontainer">
  <% @rewards.each do |is_qualified, sizes| %>
    <div class="flex1">
      <h3><%= is_qualified %></h3>
      <% sizes.sort_by{ |a| a.keys * "" }.each do |size_set| %>
        <% size_set.each do |size, reward_set| %>
          <div class="reward-table">
            <h4 class="reward-table-header"><%= size * ", " %> (<%= reward_set.length %>)</h4>

            <!-- hidden value passed to view for printing -->
            <!-- print-packing-slip-multi class is dependent on the value of this.prev -->
            <%= hidden_field_tag "pledgers", reward_set.map{|a,x| a}.join(','), { :class => "pledger-ids" } %>
            <a class="print-packing-slip-multi">Generate Packing Slip</a>


            <table>
              <% dark = true %>
              <% reward_set.sort_by { |a,b| b[0].pledger.name.upcase }.each do |pledger, rewards| %>
                <% rewards.each do |reward| %>
                  <tr<%= " class='darkrow'".html_safe if dark %>>
                    <td><%= link_to(reward.pledger.name, reward.pledger) if pledger != 0 %></td>
                    <td><%= link_to(reward.item.name, reward.item) %></td>
                    <td class="reward-comment"><%= reward.comment %></td>
                  </tr>
                  <% pledger = 0 %>
                <% end %>
                <% dark = !dark %>
              <% end %>
            </table>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</section>
