<div class="flexcontainer">
  <% @rewards.each do |k, r| %>
    <div class="flex1">
      <h3><%=k %></h3>
      <table>
        <% dark = true %>
        <% r.each do |indiv| %>
          <% indiv[1].each do |reward| %>
            <tr<%= " class='darkrow'".html_safe if dark %>>
              <td><%= link_to(reward.pledger.name, reward.pledger) if indiv[0] != 0 %></td>
              <td><%= reward.item.name %></td>
              <td class="reward-comment" data-id="<%= reward.id %>"><%= reward.comment %></td>
            </tr>
            <% indiv[0] = 0 %>
          <% end %>
          <% dark = !dark %>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
