<%= form_for user do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(user.errors.count, "error") %>
        prohibited this donation from being saved:
      </h2>
      <ul>
        <% user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :username, "First and last name" %>
    <br />
    <%= f.text_field :username, :autofocus => true %>
  </div>

  <div>
    <%= f.label :email %>
    <br />
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <br />
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation %>
    <br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit data: { disable_with: 'Saving...' } %>
  </div>
<% end %>
