.flexcontainer
  %section.home.flex1
    %h2 Information
    %ul
      %li Pledger Search
  %section.home.flex1
    %h2 Management
    %ul
      %li= link_to "Pledgers", :pledgers
      %li= link_to "Donations", :donations
      %li= link_to "Rewards", :rewards
      %li= link_to "Premia Items", :items
      %li= link_to "Shows", :shows
  %section.home.flex1
    %h2 Documents
    %ul
      %li Pledger Search
