<div class="flexcontainer">
  <section class="home flex1">
    <h2>Information</h2> 
    <ul>
      <li>Pledger Search</li>
    </ul>
  </section>
  <section class="home flex1">
    <h2>Management</h2> 
    <ul>
      <li><%= link_to "Pledgers", :pledgers %></li>
      <li><%= link_to "Donations", :donations %></li>
      <li><%= link_to "Rewards", :rewards %></li>
      <li><%= link_to "Premia Items", :items %></li>
      <li><%= link_to "Shows", :shows %></li>
    </ul>
  </section>
  <section class="home flex1">
    <h2>Documents</h2> 
    <ul>
      <li>Pledger Search</li>
    </ul>
  </section>
</div>
