.flexcontainer
  - if user_is_dd?
    %section.home.flex1
      %h2 Information
      %ul
        %li= link_to "Progress", :donations
        %li= link_to "Comments", :comments
        %li= link_to "Premia Shipments", :rewards
  -else
    %section.flex1
  %section.home{:class => user_is_dd? ? "flex1" : "flex3"}
    %h2 Management
    %ul
      %li= link_to "Pledger Search", :pledgers
      - if user_is_dd?
        %li= link_to "Premia Inventory", :items
        %li= link_to "Shows", :shows
        %li= link_to "Show Schedule", :slots
      - else
        %li= link_to "Progress", :donations
        %li= link_to "Comments", :comments
        %li= link_to "Inventory", :items
        %li= link_to "Leaderboard", :shows
        %li Comments
        %li Blank Credit Card GPO
  -if user_is_dd?
    %section.home.flex1
      %h2 Documents
      %ul
        %li All Unsent Pledge Forms
        %li= link_to "All Unsent GPOs", :controller => "gpo", :action => "all"
        %li= link_to "Blank Credit Card GPO", 'donations/new.pdf'
  -else
    %section.flex1
