= form_for(@donation, :remote => true) do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2<
        =pluralize(@donation.errors.count, "error")
        prohibited this donation from being saved:
      %ul
      -@donation.errors.full_messages.each do |msg|
        %li= msg
  - if @donationID != 'new' and user_is_dd?
    .deleteDonationLink
      = link_to '[X]', {action: 'destroy', id: @donation}, confirm: "Are you sure you want to delete this donation?", method: :delete, remote: true
  .field
    = f.label :slot_id, "Dedication"
    = f.select(:slot_id, unsorted_grouped_options_for_select(Slot.for_select(@selectedSemester), @selectedSlot), {}, { :class => "chzn-select" })
  .flexcontainer
    .flex1.field
      = f.label :amount
      %br
      = f.number_field :amount, step: "any", min: 0, autofocus: "autofocus"
    - if user_is_dd?
      .flex2.field
        = f.label :payment_method
        %br
        = f.select :payment_method, %w[Online Check Cash]
    - else
      = f.hidden_field :payment_method, value: 'Check'
  -if user_is_dd?
    .field
      = f.label :comment
      = f.text_field :comment
    .flexcontainer
      .flex1.field.centered
        %abbr{:title => "Pledge Form Sent?"}
          = f.label :pledge_form_sent, "&nbsp;".html_safe, :class => "fa fa-lg fa-envelope"
        = f.check_box :pledge_form_sent
      .flex1.field.centered
        %abbr{:title => "Payment Received?"}
          = f.label :payment_received, "&nbsp;".html_safe, :class => "fa fa-lg fa-money"
        = f.check_box :payment_received
      .flex1.field.centered
        %abbr{:title => "GPO Sent?"}
          = f.label :gpo_sent, "&nbsp;".html_safe, :class => "fa fa-lg fa-cloud-upload"
        = f.check_box :gpo_sent
  -else
    = f.hidden_field :pledge_form_sent, value: false
    = f.hidden_field :payment_received, value: false
    = f.hidden_field :gpo_sent, value: false
    %div{:style => "height:6px;"}
  = f.hidden_field :pledger_id
  -if @donation.id
    %p.notabene{:style => "font-style:normal;margin-top: -2px;padding-left: 0;margin-bottom: -2px;"}<
      = @donation.created_at.to_s.split(' ')[0]
      &nbsp;Phone Operator:&nbsp;
      = @donation.phone_operator
  .actions
    = f.submit 'Submit', data: { disable_with: 'Saving...' }
    = button_tag "Cancel", :type => "button", :id => "donationFormCancelButton", :data => { :id => @donationID }
