<p id="notice"><%= notice %></p>

<p>
  <b>Pledger:</b>
  <%= @donation.pledger %>
</p>

<p>
  <b>Show:</b>
  <%= @donation.show %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Payment method:</b>
  <%= @donation.payment_method %>
</p>

<p>
  <b>Pledge form sent:</b>
  <%= @donation.pledge_form_sent %>
</p>

<p>
  <b>Payment received:</b>
  <%= @donation.payment_received %>
</p>

<p>
  <b>Gpo sent:</b>
  <%= @donation.gpo_sent %>
</p>

<p>
  <b>Gpo processed:</b>
  <%= @donation.gpo_processed %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
