<!-- David Talbot 4/29/2017 -->

<table class="gpo-table border">
<tr class="border"><!-- Header -->
	<td>
		<strong>Today's Date<br></strong>
		<p><%= Time.now.strftime("%B %d, %Y") %></p>
	</td>
	<td>
		<strong>Prepared by<br></strong>
		<p><%= Setting.dd_name %></p>
	</td>
	<td>
		<strong>Phone Number<br></strong>
		<p><%= Setting.dd_phone %></p>
	</td>
	<td>
		<strong>SCU<br></strong>
		<p>WCBN-FM</p>
	</td>
</tr>


	<!-- SCHEMA -->
	<!-- t.string   "email"
    t.string   "affiliation"
    t.string   "local_phone"
    t.string   "local_address"
    t.string   "local_address2"
    t.string   "local_city"
    t.string   "local_state"
    t.string   "local_zip"
    t.string   "perm_phone"
    t.string   "perm_address"
    t.string   "perm_address2"
    t.string   "perm_city"
    t.string   "perm_state"
    t.string   "perm_zip"
    t.string   "perm_country" -->

<tr><!-- Pledger Info -->
	<td colspan="2" rowspan="3">
		<h4><%= pledger.name %></h4>
		<p><%= pledger.perm_address %><br>
		<%= pledger.perm_city %>,
		<%= pledger.perm_state %><br>
		<%= pledger.perm_zip %>
		<%= pledger.perm_country %><br><br>
		<%= pledger.email %><br>
		<%= pledger.perm_phone %><br></p>
	</td>

	<td colspan="2" class = "border">
		<strong>Revenue Amount</strong>
		<p><%= number_to_currency(depositTotal) %></p>
	</td>

</tr>

<tr>

	<td colspan="2" class = "border">
		<strong>Premia Value</strong>
		<p><%= number_to_currency(premiaTotal) %></p>
	</td>
</tr>
<tr>
	<td colspan="2">
		<strong>Net Gift Amount</strong>
		<p><%= number_to_currency(giftTotal) %></p>

	</td>
</tr>




<tr class = "border"><!-- Footer -->
	<td>
		<strong>Lookup ID<br></strong>
		<p>__________</p>
	</td>
	<td>
		<strong>Designation<br></strong>
		<p>361991</p>
	</td>
	<td>
		<strong>Designation Name<br></strong>
		<p>WCBN-FM</p>
	</td>
	<td>
		<strong>Amount<br></strong>
		<p><%= number_to_currency(giftTotal) %></p>
	</td>
</tr>

</table>

<br>
