<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flexcontainer middlepadding">
    <div class="flex3">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="flex1">
      <%= f.label :cost %><br />
      <%= f.number_field :cost, step: "any", min:0 %>
    </div>
    <div class="flex1">
      <%= f.label :taxable_value %><br />
      <%= f.number_field :taxable_value, step: "any", min:0 %>
    </div>
    <div class="flex1">
      <%= f.label :stock %><br />
      <%= f.number_field :stock, min:0 %>
    </div>
    <div class="flex1">
      <%= f.label :backorderable, "Backorder?" %><br />
      <%= f.check_box :backorderable %>
    </div>
    <div class="flex1">
      <%= f.label :shape %><br />
      <%= f.select( :shape, options_for_select(["box","flat","shirt","sweatshirt","incorporeal"].map{|s| [s.capitalize,s]}), {}, {class: "chzn-select"} ) %>
    </div>
    <div class="flex2">
      <%= f.label :note %><br />
      <%= f.text_field :note %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
