<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) + " — " : "" %>Guillotine</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "http://ziplookup.googlecode.com/git/zip-lookup/zip-lookup.js" %>
  <%= csrf_meta_tags %>
</head>
<body class="stunt">

<%= yield %>

</body>
</html>
